.content-wrapper {
  margin: 3rem 8rem 0 8rem;

  .container {
    text-align: center;
  }

  .header-section {
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}
