.content-wrapper {
  margin: 3em 8em 0 8em;

  .container {
    text-align: center;
  }

  .header-section {
    margin-bottom: 2em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
  }
}
