/*Wraps around Message (which displays the Category) on CategoryPage*/
.category-message-wrapper {
  display: flex;
  justify-content: center;
}

.post-wrapper-categories {
  margin-top: 1rem;
}

/*Wraps around the Desktop Menu buttons */
.categories {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

div.header,
h3.header {
  color: #00b5ad;
  font-size: 1.5rem;
  padding: 1rem;
}

div.header:hover,
h3.header:hover {
  color: #009c95;
}

.author,
.time,
.votes,
.comments {
  color: #adadad;
  font-size: 0.95rem;
  padding-right: 1rem;
  margin: 0 0 0.5rem 1.2rem;
}

.author,
.time {
  display: inline-block;
}

.votes {
  display: flex;
  justify-content: flex-start;
}

.vote-score {
  background-color: #00b5ad;
  color: white;
  border-radius: 0.5rem;
  width: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
}

div.content.votes {
  margin-top: 0.6rem;
}

.post-body,
.comment-body {
  margin-left: 1.2rem;
}

.no-posts {
  display: flex;
  margin-right: 10rem;
  margin-left: 10rem;
  justify-content: center;
}

h3.empty-category {
  text-align: center;
  margin-top: 1rem;
}
