.postdetail-page-container,
.category-page-container {
  margin: 2rem 10rem 0 10rem;
}

.editpost-header {
  margin: 2rem 0 2rem 0;
}

.ui.center.aligned.header.editcomment-header {
  margin-bottom: 1rem;
}

a:focus {
  color: transparent;
}

/*Mobile Hamburger Button */
.ui.top.attached.menu > .item:first-child {
  padding-right: 3.8rem;
  color: #00b5ad;
}

i.sidebar.icon {
  padding-right: 2rem;
}

/*SideBar for Mobile*/
.ui.sidebar {
  top: 3rem;
}

.ui.inverted.menu {
  background-color: #009c95;
}

i.close.icon {
  color: #fff;
  text-shadow: none;
  padding-top: 0.1rem !important;
}

.close-btn {
  padding-top: 0.3rem !important;
  padding-bottom: 0.2rem !important;
}

/*Change color of Menu-items (buttons) on hover */
.ui.icon.menu .item:hover,
.ui.inverted.menu a.item:hover {
  background-color: #00b5ad;
}

/*Change text color when hovering over mobile menu items */
.ui.inverted.icon.menu .item:hover,
i.close.icon:hover {
  color: #ccc;
}

/*Menu Button for desktop Menu*/
.menu-btn {
  min-width: 6rem;
}

.ui.centered.header,
.header-categories {
  text-align: center;
}

.ui.small.message.header-categories {
  width: 20%;
}

.comment-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 4rem 1rem 4rem;
}

.comments-form-wrapper {
  display: flex;
  justify-content: center;
}

.post-btn-wrapper,
.comment-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.ui.basic.red.button.postdetail-deletepost-btn,
.ui.basic.red.button.postdetail-deletecomment-btn {
  margin-right: 1rem;
}

.btn-add,
.add-btn-post {
  padding: 1rem 0;
}

button.ui.teal.large.compact.button {
  margin-bottom: 6rem;
  padding: 1rem;
}

i.red.thumbs.down {
  margin-left: 0.25rem;
}

.add-comments-form {
  width: 70%;
  margin-top: 2rem;
}

.ui.form textarea {
  margin-bottom: 1.5rem;
}

.sort {
  display: flex;
  justify-content: flex-end;
  font-size: 0.625rem;
  max-height: 0.5rem;
  margin-right: -3.5rem;
}

.ui.selection.dropdown {
  border: 0.0625rem solid #00b5ad;
  color: #00b5ad;
  min-width: 5rem;
}

.ui.selection.dropdown:hover {
  border: 0.0625rem solid #009c95;
  color: #009c95;
}

span.text {
  color: #00b5ad;
  font-size: 0.625rem;
}

span.text:hover {
  color: #009c95;
}

.post-not-found {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 6rem;
}

.post-not-found-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.back-btn {
  position: absolute;
}

.addpost-form {
  margin-top: 2rem;
}

@media (max-width: 1150px) {
  .content-wrapper {
    margin: 3rem 6rem 0 6rem;
  }

  .no-posts {
    margin-right: 4rem;
    margin-left: 4rem;
  }

  .add-comments-form {
    margin: 2rem 8rem 0 8rem;
  }
  .menu-section.categories {
    margin-left: 2rem;
  }
}

@media (max-width: 980px) {
  .content-wrapper {
    margin: 2.5rem 5rem 0 5rem;
  }

  .postdetail-page-container,
  .category-page-container {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .no-posts {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .categories {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .content-wrapper {
    margin: 2.5rem 3rem 0 3rem;
  }

  .postdetail-page-container,
  .category-page-container {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .add-post-form {
    margin: 2rem 12rem 0 12rem;
  }

  .add-comments-form {
    margin: 2rem 4.5rem 0 4.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .ui.selection.dropdown .menu {
    max-height: 12rem;
  }
  .sort {
    margin-right: 0;
  }
  .categories {
    margin: 1rem 0 1rem 0;
  }
  .post-wrapper {
    padding-top: 1rem;
  }
  .post-container {
    margin-top: 1rem;
  }
}

@media (max-width: 800px) {
  .add-post-form {
    margin: 2rem 8rem 0 8rem;
  }
  .add-comments-form {
    margin: 1.5rem 4rem 0 4rem;
  }
  .editpost-header {
    margin-bottom: 0;
  }
  .ui.small.message.header-categories {
    width: 30%;
    margin-top: 1rem;
  }
}

@media (max-width: 680px) {
  .content-wrapper,
  .post-wrapper,
  .post-wrapper-categories {
    margin: 0.5rem 1rem 0 1rem;
  }
  .header-section {
    margin-bottom: 0;
  }

  .postdetail-page-container,
  .category-page-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .menu-btn {
    max-width: 3.5rem;
  }
  .ui.teal.raised.segment {
    width: 85%;
  }
  .add-post-form {
    margin: 2rem 5rem 0 5rem;
  }
  .add-comments-form {
    margin: 1.5rem 2.5rem 0 2.5rem;
  }
  .ui.small.message.header-categories {
    width: 35%;
  }
  .ui-header {
    padding-bottom: 0.25rem;
  }
}

@media (max-width: 500px) {
  .add-post-form {
    margin: 2rem 2.5rem 0 2.5rem;
  }
  .comment-wrapper {
    margin: 0.75rem 1.5rem 0.75rem 1.5rem;
  }
  .add.comments-form {
    width: 100%;
  }
  .postdetail-page-container,
  .category-page-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .title {
    margin-bottom: 0;
  }

  div.header,
  h3.header,
  .title {
    padding: 0.5rem 0 0.3rem 0.4rem;
    font-size: 1.4rem;
  }
  .author,
  .time,
  .votes {
    margin: 0 0 0.2rem 0;
  }
  .comments {
    margin: -2rem 0 1rem 10rem;
  }
  .comment-btn-wrapper {
    margin-top: 1rem;
  }
  .ui.teal.raised.segment {
    width: 90%;
  }
  .ui.small.message.header-categories {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .comment-btn-wrapper {
    margin: 0;
  }

  .postdetail-page-container,
  .category-page-container {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

@media (max-width: 360px) {
  .ui.teal.raised.segment {
    width: 95%;
  }
  .btn-add {
    margin-left: 1rem;
  }

  .add-btn-post {
    justify-content: center;
    margin-left: 1rem;
  }
}
