body {
  background-color: #fcf8f8;
  margin: 3em;
}

.header-section {
  margin-top: 3em;
}
.ui.centered.header,
.header-categories {
  text-align: center;
}

h3.header-categories {
  margin-bottom: 1em;
}

.categories {
  margin-top: 1em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
}

div.header,
h3.header {
  color: #00b5ad;
  font-size: 1.5em;
  padding: 1em;
}

div.header:hover,
h3.header:hover {
  color: #009c95;
}

.author,
.time,
.votes,
.comments {
  color: #adadad;
  font-size: 0.95em;
  padding-right: 1em;
  margin: 0 0 0.5em 1.2em;
}

.author,
.time {
  display: inline-block;
}

.post-body,
.comment-body {
  margin-left: 1.2em;
}

.empty-category {
  display: flex;
  justify-content: center;
}

.ui.divided.relaxed.list {
  display: flex;
  justify-content: center;
}

/*div.post {
  display: flex;
  justify-content: center;
}*/

.ui.raised.segment {
  padding: 0.5em 3em 1em 3em;
  width: 75%;
}

.post-wrapper {
  display: flex;
  justify-content: center;
}

.comment-wrapper {
  display: flex;
  justify-content: center;
  margin: 1em 4em 1em 4em;
}

.btn-add,
.add-btn-post {
  margin: 2em 0 6em 12em;
  display: flex;
  justify-content: flex-start;
}

button.ui.teal.large.compact.button {
  margin-bottom: 6em;
}

i.red.thumbs.down {
  margin-left: 0.5em;
}

.add-post-form {
  margin: 0 11em 0 11em;
}

.add-comments-form {
  margin: 2em 11em 0 11em;
}

.text {
  margin-bottom: 1.5em;
}

.ui.form textarea {
  margin-bottom: 1.5em;
}

.sort {
  margin-left: 7em;
  display: flex;
  justify-content: center;
  font-size: 10px;
  max-height: 0.5em;
}

.ui.selection.dropdown {
  border: 1px solid #00b5ad;
  color: #00b5ad;
  min-width: 10em;
}

.ui.selection.dropdown:hover {
  border: 1px solid #009c95;
  color: #009c95;
}

span.text {
  color: #00b5ad;
  font-size: 10px;
}

span.text:hover {
  color: #009c95;
}

.post-not-found {
  text-align: center;
  padding-top: 2em;
  margin-bottom: 6em;
}

.post-not-found-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.back-btn {
  position: absolute;
}
